#navbar-collapse {
  background-color: #091442;

a.navbar-brand {
  color: #dae0e5;
}
  a {
    color: #e9ecef;
    text-decoration: none;
    background-color: transparent;
    /* color: black; */
  }}
