<section>

  <aside id="leftsidebar" class="sidebar" style="padding-top: 27px">

    <div class="menu">
      <ul class="list">


        <li>
          <a routerLink="app" class="menu-toggle">
            <i class="material-icons">ballot</i>

            <span style="color: rgb(187, 186, 180)">Employee</span>

          </a>
          <ul class="ml-menu">
            <li>
              <a routerLink="list-des-employee">
                <i class="material-icons">table_chart</i>
                <span  style="color: rgb(187, 186, 180); font-family: Karla , sans-serif !important; ">Liste </span>
              </a>
            </li>
            <li>
              <a routerLink="create-employee">
                <i class="material-icons">table_chart</i>
                <span  style="color: rgb(187, 186, 180)" >Add </span>
              </a>
            </li>
            <li>
              <a routerLink="edit-employee">
                <i class="material-icons">table_chart</i>
                <span  style="color: rgb(187, 186, 180)" >Update</span>
              </a>
            </li>
            <li>
              <a routerLink="DeleteArticle">
                <i class="material-icons">table_chart</i>
                <span  style="color: rgb(187, 186, 180)" >Delete</span>
              </a>
            </li>
          </ul>

          <a class="menu-toggle">
            <i class="material-icons">blur_on</i>

            <span  style="color: rgb(187, 186, 180)" >Diplomes</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a routerLink="diplomes">
                <i class="material-icons">table_chart</i>
                <span  style="color: rgb(187, 186, 180); font-family: Karla , sans-serif !important; ">Liste </span>
              </a>
            </li>
            <li>
              <a routerLink="create-diplome">
                <i class="material-icons">table_chart</i>
                <span  style="color: rgb(187, 186, 180)" >Add </span>
              </a>
            </li>
            <li>
              <a routerLink="edit-diplome">
                <i class="material-icons">table_chart</i>
                <span  style="color: rgb(187, 186, 180)" >Update</span>
              </a>
            </li>
            <li>
              <a routerLink="DeleteProvider">
                <i class="material-icons">table_chart</i>
                <span  style="color: rgb(187, 186, 180)" >Delete</span>
              </a>
            </li>
          </ul>



      </ul>
    </div>

  </aside>

</section>

